BASE_URL=https://demoqa.com

MYSQL_DATABASE=qa_assessment
MYSQL_USER=qa_user
MYSQL_PASSWORD=qa_password
MYSQL_ROOT_PASSWORD=root_password

DATABASE_URL=mysql://qa_user:qa_password@localhost:3306/qa_assessment
WIREMOCK_BASE_URL=http://localhost:8080